.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 181, 132);
}

.center {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  width: 90vw;
  max-width: var(--max-width);
  text-align: center;
}

.title {
  color: #fff;
}

.toggle {
  background: transparent;
  border: transparent;
  color: #fff;
  cursor: pointer;
}

svg {
  font-size: 2rem;
}
