:root {
  --max-width: 1200px;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --background-primary: #fff;
  --background-secondary: #ddd;
  --text-primary: #222;
}

[data-theme="dark"] {
  --background-primary: #19212a;
  --text-primary: #fff;
  --text-secondary: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}
